.header1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    height: 5.5rem;
    background-color: #016A70;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
}

.location {
    display: flex;
    align-items: center;
}

.location-text {
    margin-right: 10px; 
}

