.header1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    height: 5.5rem;
    background-color: #007f5f; /* Teal green */
    background-image: linear-gradient(to left, #007f5f, #00b48a);
    color: #fff;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
}

.location-text {
    margin-right: 10px; 
}
.k2d-font {
    font-family: 'K2D', sans-serif;
    font-size: 55px;
font-style: normal;
font-weight: 800;
line-height: normal;
  }